{% load static %}

<!-- Start Header Style -->
<div id="header" class="htc-header">
    <!-- Start Header Top -->
    {% comment %}
    <div class="htc__header__top bg__cat--1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="heaher__top__left">
                        <li><i class="fa fa-clock-o"></i>7.30 AM - 9.30 PM</li>
                        <li><a href="#"><i class="fa fa-phone"></i>(001) 25465 258 369</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="header__top__right">
                        <ul class="login-register">
                            <li><a href="login-register.html">LOGIN</a></li>
                            <li class="separator">/</li>
                            <li><a href="login-register.html">REGISTER</a></li>
                        </ul>
                        <div class="heaher__top__btn">
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}
    <!-- End Header Top -->
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header header-head">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 logo-res">
                    <div class="logo">
                        <a href="#">
                            <img src="{% static 'web/images/logo/TrustRide Logo.svg' %}" class="logo-size logo-res-margin"
                                alt="logo image">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 d-lg-block d-none">
                    <nav class="main__menu__nav d-lg-block d-md-none d-none">
                        <ul class="main__menu">
                            <li class="drop "><a href="{% url 'web:index' %}" class="active">HOME</a>
                                <!-- <ul class="dropdown">
                                    <li><a href="index.html">Home 01</a></li>
                                    <li><a href="index-2.html">Home 02</a></li>
                                    <li><a href="index-3.html">Home 03</a></li>
                                </ul> -->
                            </li>
                            <li><a href="{% url 'web:construction' %}">ABOUT</a></li>
                            <li><a href="{% url 'web:construction' %}">PRODUCTS</a></li>
                            <!-- <li class="drop"><a href="#">pages</a>
                                <ul class="dropdown">
                                    <li><a href="service.html">service</a></li>
                                    <li><a href="single-service.html">Single service</a></li>
                                    <li><a href="projects-one.html">projects one</a></li>
                                    <li><a href="projects-two.html">projects two</a></li>
                                    <li><a href="projects-three.html">projects three</a></li>
                                    <li><a href="single-project.html">Single Project</a></li>
                                    <li><a href="blog.html">BLog</a></li>
                                    <li><a href="blog-one-column.html">blog one column</a></li>
                                    <li><a href="blog-two-column.html">blog two column</a></li>
                                    <li><a href="blog-details.html">blog Details</a></li>
                                    <li><a href="login-register.html">Log in & Register</a></li>
                                </ul>
                            </li> -->
                            <li class="drop"><a href="{% url 'web:construction' %}">GALLERY</a>
                                <!-- <ul class="dropdown">
                                    <li><a href="projects-one.html">projects one</a></li>
                                    <li><a href="projects-two.html">projects two</a></li>
                                    <li><a href="projects-three.html">projects three</a></li>
                                </ul> -->
                            </li>
                            <li class="drop"><a href="{% url 'web:construction' %}">UPDATES</a>
                                <!-- <ul class="dropdown">
                                    <li><a href="blog.html">BLog</a></li>
                                    <li><a href="blog-one-column.html">blog one column</a></li>
                                    <li><a href="blog-two-column.html">blog two column</a></li>
                                </ul> -->
                            </li>
                            <li><a href="{% url 'web:construction' %}">CONTACT</a></li>





                        </ul>



                    </nav>
                    <div class="mobile-menu clearfix d-lg-none d-md-block d-block">
                        <nav id="mobile_dropdown">
                            <ul>
                                <li><a href="{% url 'web:index' %}">Home</a>
                                    <!-- <ul>
                                        <li><a href="index.html">Home 01</a></li>
                                        <li><a href="index-2.html">Home 02</a></li>
                                        <li><a href="index-3.html">Home 03</a></li>
                                    </ul> -->
                                </li>
                                <li><a href="{% url 'web:construction' %}">About</a></li>
                                <li><a href="{% url 'web:construction' %}">Projects</a>
                                    <!-- <ul>
                                        <li><a href="projects-one.html">projects one</a></li>
                                        <li><a href="projects-two.html">projects two</a></li>
                                        <li><a href="projects-three.html">projects three</a></li>
                                    </ul> -->
                                </li>
                                <li><a href="{% url 'web:construction' %}">Gallery</a>
                                    <!-- <ul>
                                        <li><a href="service.html">service</a></li>
                                        <li><a href="single-service.html">Single service</a></li>
                                        <li><a href="projects-one.html">projects one</a></li>
                                        <li><a href="projects-two.html">projects two</a></li>
                                        <li><a href="projects-three.html">projects three</a></li>
                                        <li><a href="single-project.html">Single Project</a></li>
                                        <li><a href="blog.html">BLog</a></li>
                                        <li><a href="blog-one-column.html">blog one column</a></li>
                                        <li><a href="blog-two-column.html">blog two column</a></li>
                                        <li><a href="blog-details.html">blog Details</a></li>
                                        <li><a href="login-register.html">Log in & Register</a></li>
                                    </ul> -->
                                </li>
                                <li><a href="{% url 'web:construction' %}">Updates</a>
                                    <!-- <ul>
                                        <li><a href="blog.html">BLog</a></li>
                                        <li><a href="blog-one-column.html">blog one column</a></li>
                                        <li><a href="blog-two-column.html">blog two column</a></li>
                                    </ul> -->
                                </li>
                                <li><a href="{% url 'web:construction' %}">Contact</a></li>
                            </ul>
                           
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 d-lg-flex d-md-flex d-sm-flex">
                    <div class="translation">
                        <ul class="main__menu translation-links">
                            <li class="trust-lang-li"><a href="#" class="spanish trust-add-trans" data-lang="Arabic">Arabic</a></li>
                            <li class="trust-lang-li"><a href="#" class="german trust-add-trans" data-lang="English">English</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area"></div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
</div>
<!-- End Header Style -->
<div id="google_translate_element"></div>
